@import "./base/fonts.css";
@import "./base/variables.css";
@import "./base/reset.css";

@import "./components/radio-field.css";
@import "./components/text-field.css";
@import "./components/checkbox.css";
@import "./components/toast.css";

@import "./components/contact.css";

@import "./utils/a11y.css";

main {
    position: relative;
    color: var(--color-grey-900);
    background-color: var(--color-green-200);
    min-height: 100vh;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asterisk {
    color: var(--color-green-600);
}
