:root {
    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-green-800: #063f36;
    --clr-red: hsl(0, 66%, 54%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);

    --font-main: Karla, sans-serif;
    --font-normal: 400;
    --font-bold: 700;

    --text-body: 1rem;
    --text-body-m: 1.125rem;
    --text-heading-1: 2rem;

    --leading-none: 1;
    --leading-input: 1.6875rem;

    --rounded-full: 9999px;
    --rounded-8: 0.5rem;
    --rounded-10: 0.625rem;

    --tracking-heading: -0.03em;
    --tracking-main: -0.012em;
    --tracking-main: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    font-family: var(--font-main);
    font-size: var(--text-body);
    letter-spacing: var(--tracking-main);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
input,
textarea,
button {
    outline: none;
}

.main__container {
    position: relative;
    color: var(--clr-grey-900);
    background-color: var(--clr-green-200);
    min-height: 100vh;
    padding: 2rem 0;
}

.form__container {
    margin: 0 auto;
    width: min(46rem, 100vw - 2rem);
    background-color: var(--clr-white);
    border-radius: calc(16rem / 16);
    padding: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}
.form__title {
    font-size: var(--text-heading-1);
    font-weight: var(--font-bold);
    letter-spacing: var(--tracking-heading);
    margin-bottom: 2.25rem;
}
.form__submit {
    border: none;
    border-radius: var(--rounded-8);
    background-color: var(--clr-green-600);
    cursor: pointer;
    color: var(--clr-white);
    font-weight: var(--font-bold);
    font-size: var(--text-body-m);
    padding: 1.25rem 0 1.3125rem 0;
    transition: background-color 200ms ease;
    width: 100%;
}

.textbox__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15.625rem, 100%), 1fr));
    gap: 1.75rem 1rem;
    margin-bottom: 1.75rem;
}
.textbox {
    width: 100%;
    height: min-content;
}
.textbox__label {
    display: block;
    margin-bottom: 0.75rem;
}
.textbox__input {
    width: 100%;
    resize: none;
    border-radius: var(--rounded-8);
    font-size: var(--text-body-m);
    line-height: var(--leading-input);
    transition: border-color 200ms ease;
    padding: 0.6875rem 1.4375rem 0.6875rem 1.4375rem;
    border: 1px solid var(--clr-grey-500);
}
textarea.textbox__input {
    height: 15rem;
}

.query-type__wrapper {
    padding: 0;
    border: none;
    margin: 1.75rem 0;
}
.query-type__label {
    margin-left: -0.125rem;
    margin-bottom: 1.25rem;
}
.radiobox__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15.625rem, 100%), 1fr));
    gap: 1.0625rem 1rem;
}
.radiobox__input {
    position: absolute;
    z-index: -999;
}
.radiobox__wrapper {
    padding: 0.875rem 1.5625rem 0.9375rem 1.5625rem;
    border: 1px solid var(--clr-grey-500);
    border-radius: var(--rounded-8);
    font-size: var(--text-body-m);
    cursor: pointer;
    display: flex;
    width: 100%;
    transition: 200ms ease;
}
.radiobox__label {
    margin: 0.0625rem 0 0 0.875rem;
}
.radiobox__btn {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: var(--rounded-full);
    border: 1px solid var(--clr-grey-500);
}
.radiobox__btn span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/icon-radio-selected.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: var(--rounded-full);
    opacity: 0;
    transition: opacity 150ms ease;
}
.radiobox__input:checked + .radiobox__label .radiobox__btn,
.radiobox__input:checked + .radiobox__label {
    border-color: var(--clr-green-600);
    background-color: var(--clr-green-200);
}
.radiobox__input:checked + .radiobox__label .radiobox__btn span {
    opacity: 1;
}

.checkbox {
    margin: 2.3125rem 0 2.5rem 0;
    line-height: 1.5;
}
.checkbox__wrapper {
    margin: 0 0.75rem 0 0.1875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.checkbox__input {
    position: absolute;
    z-index: -999;
}
.checkbox__btn {
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid var(--clr-grey-500);
    flex-shrink: 0;
}
.checkbox__label {
    margin-left: 1.1875rem;
}

.checkbox__btn span {
    display: block;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--clr-green-600);
    background-image: url("./assets/images/icon-checkbox-check.svg");
    background-position: center center;
    object-fit: cover;
    transition: opacity 150ms ease;
    opacity: 0;
}
.checkbox__input:checked + .checkbox__wrapper .checkbox__btn span {
    opacity: 1;
}

.error-message {
    display: none;
    color: var(--clr-red);
}
.error-message.show {
    display: block;
}
.query-type__wrapper .error-message {
    margin: 1.25rem 0 0.25rem 0;
}
.checkbox .error-message {
    margin: 0.5rem 0 0.25rem 0;
}
.textbox .error-message {
    margin: 0.75rem 0 0.25rem 0;
}

.toast {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-green-800);
    border-radius: var(--rounded-10);
    width: min(28.125rem, 100vw - 2rem);
    color: var(--clr-white);
    top: 1.5rem;
    padding: 1.6875rem 1rem 1.75rem 1.5rem;
}
.toast.show {
    display: initial;
}
.toast > div {
    margin-left: 0.125rem;
    display: flex;
    align-items: center;
}
.toast__title {
    letter-spacing: 0.021875rem;
    font-size: 1.125rem;
    margin-left: 0.625rem;
}
.toast__description {
    margin-top: 0.9375rem;
    opacity: 0.8;
}

.asterisk::after {
    content: "*";
    margin-left: 1ch;
    color: var(--clr-green-600);
}
.checkbox__label.asterisk::after {
    margin-left: 0.5ch;
}

.focusable {
    position: relative;
}
.focusable::after {
    --border-offset-x: -9px;
    --border-offset-y: -9px;
    top: var(--border-offset-y);
    bottom: var(--border-offset-y);
    left: var(--border-offset-x);
    right: var(--border-offset-x);

    opacity: 0;
    content: "";
    position: absolute;
    pointer-events: none;
    border-radius: var(--rounded-8);
    border: 3px dashed var(--clr-green-600);
    transition: opacity 100ms ease;
}
.focusable:focus-within::after {
    opacity: 1;
}

@media (hover: hover) {
    .textbox__input:hover {
        border-color: var(--clr-green-600);
    }
    .form__submit:hover {
        background-color: var(--clr-green-800);
    }
}

@media screen and (min-width: 768px) {
    .main__container {
        padding: 8rem 0;
    }
    .form__container {
        padding: 2.5rem;
    }
    .textbox textarea {
        height: 6.5625rem;
    }
}
